        <div>
		        <a href="HOME.html">HOME</a>
                        <a href="LOGIN.html">LOGIN</a>
                 	<a href="REGISTER.html">REGISTER</a>
			<a href="STORE.html">STORE</a>
	</div>
	<div>
			<form>

				<input type="text" id="username" placeholder="username"</input>
				<input type="password" id="password" placeholder="password"</input>
				<button>login</button>
				<p>Not registered? <a href="REGISTER.html">Create an account</a></p>
			</form>
	</div>
	
