        <div>
		        <a href="HOME.html">HOME</a>
                        <a href="LOGIN.html">LOGIN</a>
                 	<a href="REGISTER.html">REGISTER</a>
			<a href="STORE.html">STORE</a>
	</div> 
         <div>
		<form>
				<input type="text" id="name" placeholder="username"></input><p>
				<input type="password" id="pass" placeholder="password"></input><p>
				<input type="email" id="email" placeholder="email"></input><p>
                                <input type="text" id="idCard" placeholder="ID card"></input><p>
				<input type="tel" id="tel" placeholder="Tel number"></input><p>	
		</form>
			<button>REGISTER</button>
			<p>Already registered? <a href="LOGIN.html">Sign In</a></p>
	</div>