      <div>
		        <a href="HOME.html">HOME</a>
                        <a href="LOGIN.html">LOGIN</a>
                 	<a href="REGISTER.html">REGISTER</a>
			<a href="STORE.html">STORE</a>
      </div> 
       